[submodule "expes/pancat"]
	path = expes/pancat
	url = https://github.com/dubssieg/pancat
[submodule "expes/gfagraphs"]
	path = expes/gfagraphs
	url = https://github.com/dubssieg/gfagraphs
[submodule "expes/vg"]
	path = expes/vg
	url = https://github.com/vgteam/vg
[submodule "expes/odgi"]
	path = expes/odgi
	url = https://github.com/pangenome/odgi
[submodule "expes/bubble_gun"]
	path = expes/bubble_gun
	url = https://github.com/fawaz-dabbaghieh/bubble_gun
